<!-- first_page.html -->
<!DOCTYPE html>
<html>
<head>
    <title>main_page</title>
</head>
<body>
    <h1>main_page</h1>
    <form action="/order" method="POST">

        <label for="order">주문:</label>
        <input type="text" id="order" name="order" required><br><br>

        <input type="submit" value="주문">

    <form action="/add_menu" method="POST">

        <label for="add_menu">메뉴 추가:</label>
        <input type="text" id="add_menu" name="메뉴 추가" required><br><br>

        <input type="submit" value="메뉴 추가">
    </form>
</body>
</html>
