<!DOCTYPE html>
<html>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 10px solid #ddd;
        }
    </style>
</head>
<body>
    <h1>Order</h1>
    <table>
        <tr>
            <th>Number</th>
            <th>Menus</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
