<!DOCTYPE html>
<html>
<head>
    <title>메뉴 추가</title>
</head>
<body>
    <h1>메뉴 추가 입력</h1>
    <form action="/submit_menu" method="POST" onsubmit="return confirm('메뉴 추가를 진행하시겠습니까?');">
        <label for="number">number:</label>
        <input type="text" id="number" name="nember" required><br><br>
        
        <label for="name">menu:</label>
        <input type="text" id="menu" name="menu" required><br><br>
        
        <label for="price">price:</label>
        <input type="text" id="price" name="price" required><br><br>

        <label for="quantity">수량:</label>
        <input type="text" id="quantity" name="quantity" required><br><br>
        
        <input type="submit" value="추가하기">
    </form>
</body>
</html>

